<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <!-- 指示 CLR 在尋找 DLL 時，自動搜尋 Library 子目錄 -->
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Library"/>
        </assemblyBinding>
    </runtime>
</configuration>
